body {
    background: linear-gradient(to bottom, gray, bisque);
}

a {
    color: darkred;
    text-decoration: none;
}

a:hover {
    color: red;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.logo {
    max-width: 622px;
    height: 128px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description-box {
    max-width: 822px;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin-top: 6px;
    position: relative;
    padding-top: 30px;
    word-wrap: break-word
}

.description-title {
    background-color: brown;
    color: white;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.description-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

.image-box {
    margin-top: 10px;
    max-width: 800px;
    height: 150px;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navigation-box {
    max-width: 822px;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    position: relative;
    padding-top: 30px;
    word-wrap: break-word
}

.navigation-title {
    background-color: #FFCCAA;
    color: brown;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navigation-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    text-align: left;
}

.column ul {
    line-height:170%;
}

.column h3 {
    margin: 0;
    text-decoration: underline;
}

.column li {
    list-style: none;
}

.donators-box {
    max-width: 822px;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    position: relative;
    padding-top: 30px;
    word-wrap: break-word
}

.donators-title {
    background-color: #FFCCAA;
    color: brown;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.donators-text {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
}

.donators-container {
    display: grid;
    grid-template-columns: min-content 1;
    justify-content: center;
}

.donators-colum {
    text-align: left;
}

.donators-colum h3 {
    margin: 0;
}

.status-payment-done {
    color: green;
}

.status-payment-not-done {
    color: red;
}

.stats-box {
    max-width: 822px;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    position: relative;
    padding-top: 30px;
    word-wrap: break-word
}

.stats-title {
    background-color: #FFCCAA;
    color: brown;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.stats-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
}

hr {
    max-width: 822px;
    width: 100%;
    border: 1px solid brown;
    display: block;
    margin-top: 2 auto;
    margin-bottom: 0px;
}

.downbar-box div {
    margin: 0;
}

.container-downbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    padding: 3px;
}

.copyright-text {
    margin-top: 20px;
    color: brown;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}