body {
    background: linear-gradient(to bottom, gray, bisque);
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.logo {
    max-width: 622px;
    height: 128px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-title {
    color: brown;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 30px;
    font-size: larger;
}

.section-title h1 {
    margin: 0;
}

.image-box {
    margin-top: 10px;
    max-width: 800px;
    height: 150px;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu hr {
    max-width: 822px;
    width: 100%;
    border: 1px solid gray;
    display: block;
    margin: 2 auto;
}

.menu h2 {
    margin: 0;
}

.modifications-box {
    max-width: 822px;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    position: relative;
    padding-top: 30px;
    word-wrap: break-word
}

.modifications-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modifications-box hr {
    max-width: 822px;
    width: 100%;
    border: 1px solid gray;
    display: block;
    margin: 2 auto;
}

.modifications-title {
    background-color: #FFCCAA;
    color: brown;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.modifications-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: left;
}

.modifications-text h3 {
    text-align: center;
}

.modifications-text li {
    list-style: none;
}

.modifications-text img {
    border: 1px solid black;
}

/* commands.html section */
.commands-box {
    max-width: 822px;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    position: relative;
    padding-top: 30px;
    word-wrap: break-word
}

.commands-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.commands-box hr {
    max-width: 822px;
    width: 100%;
    border: 1px solid gray;
    display: block;
    margin: 2 auto;
}

.commands-title {
    background-color: #FFCCAA;
    color: brown;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.commands-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: left;
}

.commands-text h3 {
    text-align: center;
}

.commands-text li {
    list-style: none;
}

.commands-text p {
    text-align: center;
}

.commands-text img {
    border: 1px solid black;
}

hr {
    max-width: 822px;
    width: 100%;
    border: 1px solid brown;
    display: block;
    margin: 2 auto;
}

.copyright-text {
    color: brown;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}