body {
    background: linear-gradient(to bottom, #FFCCAA, bisque);
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    color: brown;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 30px;
    font-size: larger;
}

.section-title h1 {
    margin: 0;
}

.image-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu hr {
    border: 1px solid gray;
    display: block;
    width: 822px;
    margin: 2 auto;
}

.menu h2 {
    margin: 0;
}

.faq-box {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    position: relative;
    padding-top: 30px;
    width: 822px;
    word-wrap: break-word
}

.faq-box-q {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    position: relative;
    padding-top: 30px;
    word-wrap: break-word
}

.faq-box hr {
    border: 1px solid gray;
    display: block;
    width: 822px;
    margin: 2 auto;
}

.faq-title {
    background-color: #FFCCAA;
    color: brown;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.faq-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
}

.faq-text li {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.column {
    text-align: left;
}

.column hr {
    border: 1px solid cadetblue;
    display: block;
    margin: 2 auto;
    width: inherit;
}

/* news.html section */
.news-box {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    position: relative;
    padding-top: 30px;
    width: 822px;
    word-wrap: break-word
}

.news-box hr {
    border: 1px solid gray;
    display: block;
    width: 822px;
    margin: 2 auto;
}

.news-title {
    background-color: #FFCCAA;
    color: brown;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.news-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: left;
}

.news-text h3 {
    text-align: center;
}

.news-text li {
    list-style: none;
}

.copyright-text hr {
    border: 1px solid burlywood;
    display: block;
    width: 822px;
    margin: 2 auto;
}

.copyright-text {
    color: brown;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}