@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(to bottom, gray, bisque);
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  color: darkred;
  text-decoration: none;
}

a:hover {
  color: red;
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-Bold", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "Roboto", "weight": "var(--www-diversitycraft-org-roboto-bold-font-weight)", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Roboto";
  src: local("Roboto");
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter", "weight": "var(--www-diversitycraft-org-inter-bold-font-weight)", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter";
  src: local("Inter");
}
